* {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color:rgb(213, 194, 170);
}

.img500 {
  display: block;
  margin: auto;
  height: 500px;
}

.pagetitle {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: black;
  color: white;
  text-align: center;
}

/* Change bullets to green */
ul {
  list-style: none; /* Remove bullets that can't be styled */
}
ul li::before { /* Apply only to line items in an unordered lists */
  content: "•"; /* Add new bullet */
  display: inline-block;
  width: 1em;
  margin-left: -1em;
  color: green;
}